body {
    font-family: 'Roboto', sans-serif;
}

p {
    width: 900px;
}
.background {
    fill: #eee;
    }

.map-layer {
    fill: #fff;
    stroke: #aaa;
    }
.effect-layer {
    pointer-events:none;
}

#tooltip {
    position: absolute;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0,
    0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.
    4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}
#tooltip.hidden {
    display: none;
}
#tooltip p {
    width: auto;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
}
#inputs {
    width: 900px;
    border-width: thick;
    border-style: solid;
    border-color: #f2f2f2;

}
#month {
    color: #333333;
    font-weight: bold;
    font-size: 110%;
}
.InsideContent {
    display:inline-block;
    max-height: 60px;
}
#monthLabel {
    max-width: 300px;
    float: left;
}
.axis path,
.axis line{
    fill: none;
    stroke: black;
  }
.line{
    fill: none;
    stroke: blue;
    stroke-width: 2px;
  }
  .tick text{
    font-size: 12px;
  }
  .tick line{
    opacity: 0.2;
  }
